<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">


        <th:block th:each="nameVar : ${eventsJawn}">
            <div class="form-group">
            <label>
                <span th:text="${nameVar.name}"></span>
                <input type="checkbox" name="eventIds" th:value="${nameVar.id}" class="form-control">
            </label>
            </div>
        </th:block>


    <input type="submit" value="EXECUTE!!" class="btn btn-danger">
</form>

</body>
</html>