<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>You Really Want To Go To THESE??</h1>

<nav th:replace="fragments :: header"></nav>
<p th:unless="${eventsJawn} and ${eventsJawn.size()}">Hey get outta here, there's nothin here</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tr th:each="nameVar : ${eventsJawn}">
            <td th:text="${nameVar.id}"></td>
            <td th:text="${nameVar.name}"></td>
            <td th:text="${nameVar.description}"></td>
        </tr>
    </table>

</body>
</html>