<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:unless="${eventsJawn} and ${eventsJawn.size()}">Hey get outta here, there's nothin here</h1>


<p th:if="${eventsJawn.size()} > 0">You wanna do any of this?</p>


<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Event Name</th>
    </tr>
    </thead>
    <tr th:each="event : ${eventsJawn}">
        <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a></td>
    </tr>
</table>

</body>
</html>